.footer__column_link {
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  opacity: 1;
}

.footer__column_link:nth-child(2) {
  margin: 10px 0;
}

.footer__column_link:hover {
  opacity: .6;
}
