@import url(_item/table__text-cards_item.css);
@import url(_title/table__text-cards_title.css);
@import url(_description/table__text-cards_description.css);
@import url(_second/table__text-cards_description_second.css);

.table__text-cards{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}