@import url(_item/techniques__cards_item.css);
@import url(_image/techniques__cards_image.css);
@import url(_title/techniques__cards_title.css);
@import url(_description/techniques__cards_description.css);

.techniques__cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 920px;
}
