.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-position-x: -210px;
  z-index: 1;
  position: absolute;
  top: -20px;
  right: -210px;
  margin: 0;
}
